In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("output.csv")

In [3]:
df

,City/Town,Country/Territory,Continent,Notes
0,Abidjan (former capital; still hosts some gove...,Ivory Coast (Côte d'Ivoire),Africa,Abidjan is the largest city in Ivory Coast and...
1,Yamoussoukro (de jure),NaN,NaN,NaN
2,Abu Dhabi,United Arab Emirates,Asia,NaN
3,Abuja,Nigeria,Africa,Lagos was the capital from 1914 to 1991.
4,Accra,Ghana,NaN,NaN
...,...,...,...,...
260,Windhoek,Namibia,Africa,NaN
261,Yaoundé,Cameroon,NaN,NaN
262,Yaren (de facto),Nauru,Oceania,"Nauru has no official capital, nor cities; the..."
263,Yerevan,Armenia,Asia/Europe,NaN
264,Zagreb,Croatia,Europe,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City/Town          265 non-null    object
 1   Country/Territory  246 non-null    object
 2   Continent          210 non-null    object
 3   Notes              88 non-null     object
dtypes: object(4)
memory usage: 8.4+ KB

In [6]:
df.describe()

,City/Town,Country/Territory,Continent,Notes
count,265,246,210,88
unique,263,246,19,68
top,Georgetown,Ivory Coast (Côte d'Ivoire),Africa,British Overseas Territory.
freq,2,1,44,8

In [10]:
df["Notes"].isnull().sum()

np.int64(177)

In [11]:
df["City/Town"].isnull().sum()

np.int64(0)

In [12]:
df["Country/Territory"].isnull().sum()

np.int64(19)

In [13]:
df["Continent"].isnull().sum()

np.int64(55)

In [16]:
df["Country/Territory"].unique

<bound method Series.unique of 0      Ivory Coast (Côte d'Ivoire)
1                              NaN
2             United Arab Emirates
3                          Nigeria
4                            Ghana
                  ...
260                        Namibia
261                       Cameroon
262                          Nauru
263                        Armenia
264                        Croatia
Name: Country/Territory, Length: 265, dtype: object>